body {
    margin: 0;
    height: 100vh;
    background: #ffe6ea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.phone {
    width: 320px;
    background: #ffe6ea;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.hidden {
    display: none;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 25px 15px;
}

.emoji {
    font-size: 28px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

input {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.yes-btn {
    background: #ff4d6d;
    color: white;
}

.no-btn {
    background: #f0f0f0;
    position: relative;
}

.note {
    font-size: 12px;
    color: #ff4d6d;
    margin-top: 10px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
